 .list {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    justify-content: end;
    gap: 45px;
    list-style-type: none;

    &__libraries {
      font-size: 24px;
    }
  }

  .logo {
    width: 30px;
    height: 30px;
  }