@import "reset";
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Inter-Regular.woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Inter-Medium.woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Inter-Bold.woff2");
}

* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #000000;
  line-height: 1.5;
  font-weight: 400;
  // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.h2 {
  font-weight: bold;
  font-size: 44px;
}
.h3 {
  font-weight: bold;
  font-size: 34px;
}
.h4 {
  font-weight: normal;
  font-size: 34px;
}

//34
//24
//16

.container {
  width: calc(100% - 320px);
  margin: 0 160px;
  position: relative;
}
.btn {
  cursor: pointer;
}
.header {
  padding-top: 120px;
  padding-bottom: 223px;

}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.swiper {
  --swiper-theme-color: #000000;
}
.swiper-pagination {
  width: 10%!important;
  left: 45%!important;
}
.tab {
  padding-top: 40px;

  &__item {
    font-size: 20px;
  }
}