.slide {
  border: 1px solid #181818;
  border-radius: 15px;
  min-height: 400px;
  padding: 10px;

  &__wrapper {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 700px) {
  .slide {
  
    &__wrapper {
      padding-top: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }

}